.wrapper {
    display: flex;
    justify-content: flex-start;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    min-height: 50px;
}

.wrapper__text {
    text-transform: uppercase;
    font-size: 20px;
}
.wrapper__text::before {
    content: ". . . ";
    color: #000;
}